body{
	background: #B3FFAB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #12FFF7, #B3FFAB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #12FFF7, #B3FFAB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


	font-family: 'Roboto', sans-serif;
                                                                          
} 
.container{
	width:40%;
	height:30%;
	margin: 100px auto;
	background : #f7f7f7;
	box-shadow : 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius : 10px;
	
}
h1{
	background:#2980b9;
	color : white;
	padding:10px 20px;
	font-weight : normal;
	margin: 0;
	text-transform:uppercase;	
}

li{
	text-decoration: none;
	background:#fff;
	height:40px;
    overflow: hidden;
white-space: nowrap;
	font-size:18px;
	padding: 13px 13px 13px 20px;
    	box-sizing : border-box;
        overflow:hidden;
}
li:nth-child(2n){
	background:#f7f7f7;
}
ul{
	list-style: none;
	padding :0;
	margin: 0;
}

input{
	font-size:18px;
	padding: 13px 13px 13px 20px;
	background:#f7f7f7;
	width:100%;
	box-sizing : border-box;
	color:#2980b9;
outline:none;
	border: 3px solid #2980b9;
}
input:focus{
	
}

li:hover span{
	opacity:1.0;
	width:40px;
}

.column {
  float: left;
  width: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

#movie{
   box-sizing :border-box;
   outline:none;
	border-right: 3px solid #2980b9;
}

#rate{
   box-sizing :border-box;
   outline:none;
	border-left: 3px solid #2980b9;
}
i{
    float:right;
}

















